<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-searchbar value="Buscar Imóvel"></ion-searchbar>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/bubbles/50/000000/home.png">
  </ion-thumbnail>
  <ion-label>
    <h2>Minha casa</h2>
    <p>Consumo: 1250 KWh</p>
  </ion-label>
  <ion-button [routerLink]="['/detalhes']" routerdirection="forward" fill="outline" slot="end">Detalhes</ion-button>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/clouds/100/000000/company.png">
  </ion-thumbnail>
  <ion-label>
    <h2>Apartamento do João</h2>
    <p>Consumo: 1050 KWh</p>
  </ion-label>
  <ion-button fill="outline" slot="end">Detalhes</ion-button>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/bubbles/50/000000/home.png">
  </ion-thumbnail>
  <ion-label>
    <h2>Casa de mãe</h2>
    <p>Consumo: 1050 KWh</p>
  </ion-label>
  <ion-button fill="outline" slot="end">Detalhes</ion-button>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/clouds/100/000000/company.png">
  </ion-thumbnail>
  <ion-label>
    <h2>Apartamento 001 do Sr Reinaldo</h2>
    <p>Consumo: 1050 KWh</p>
  </ion-label>
  <ion-button fill="outline" slot="end">Detalhes</ion-button>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/clouds/100/000000/company.png">
  </ion-thumbnail>
  <ion-label>
    <h2>Apartamento 002 VAZIO</h2>
    <p>Consumo: 05 KWh</p>
  </ion-label>
  <ion-button fill="outline" slot="end">Detalhes</ion-button>
</ion-item>

</ion-content>