<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ajuda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<p>Esse é o Desliga isso menino!, um aplicativo para auxiliar 
  você a controlar o consumo de energia em sua casa, trabalho
ou seja lá onde a energia esteja localizada. 
<br>
Para saber mais sobre as funcionalidades, acesse: <a>www.desligaissomenino.com.br</a>.
<br>
Se tiver alguma dúvida, basta nos enviar
   um email através do <a>desligaisso@menino.com</a>.
</p>

</ion-content>
